*{
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: lightgray;
}

h1{

    text-align: center;

}

nav{
    margin-bottom: 20px;
}

a{
    margin-right: 15px;
}

nav a{
    margin-right: 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

button{
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #333;
    background-color: white;
}

button:hover{
    background-color: #ddd;
}



#listaMeriendas{
    border: 2px solid black;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
}

.item{
    border: 1px solid gray;
    padding: 10px;
    margin: 10px 0;
    background-color: white;
}




.contenedor{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.tarjeta{
    width: 200px;
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    background-color: white;
    transition: 0.3s;
    border-radius: 10px;
}



.seleccionada{
    background-color: gold;
    border-color: red;
}